.btn{
    padding: 10px;
    background-color: rgb(143, 143, 196);
    border: 2px solid  rgb(143, 143, 196);
    border-radius: 12px;
    font-weight: bold;
}

.btn:hover{
    background-color: white;
    color :rgb(143, 143, 196);
}

.addTaskInput{
    padding: 5px 10px;
    height: 30px;
    width: 200px;
    border-radius: 20px;
}

.task{
    font-size: 2rem;
    font-weight: 900;
    padding: 0 5px;
    margin-right: 20px;
}